# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Datasets
*.h5

# VTK files
*.vtk

# Virtual environments
venv/
.env/
env/

# Logs and debug files
*.log
*.out
*.err

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/integrations/unifoil/data/raw/
integrations/unifoil/data/processed/
integrations/unifoil/**/__pycache__/
integrations/unifoil/**/*.ckpt
integrations/unifoil/**/runs/
